<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphVizio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GraphVizio.My.MySettings>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideStep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlidePause" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResizeAmount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CSVDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DOTDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FadePct" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FadeDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HelpSpeed" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ToolTipDelay" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="DrawingUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecutableDirectory" serializeAs="String">
                <value />
            </setting>
        </GraphVizio.My.MySettings>
    </userSettings>
</configuration>
